In [1]:
mylist = [1,2,3,4,5]

for i in mylist:
    print(i)

1
2
3
4
5

In [ ]:
for i in mylist:
    mylist.append('wow')
print(mylist)

In [3]:
mylist = [1,2,3,4,5,6,7,8]

for i in mylist:
    mylist.remove(i)
    print(mylist)
#print(mylist)

[2, 3, 4, 5, 6, 7, 8]
[2, 4, 5, 6, 7, 8]
[2, 4, 6, 7, 8]
[2, 4, 6, 8]

In [4]:
mylist = [1,2,3,4,5]
for i in mylist[:]:
    mylist.append('wow')
print(mylist)

[1, 2, 3, 4, 5, 'wow', 'wow', 'wow', 'wow', 'wow']

In [5]:
#Don't use this type of mutable ds as default args
def add_to_list(mylist=[]):
    mylist.append('apples')
    return mylist

new_list = add_to_list()
print(new_list)
new_list2 = add_to_list()
print(new_list2)

['apples']
['apples', 'apples']

In [7]:
def add_to_list2(mylist = None):
    if mylist == None:
        mylist = []
    mylist.append('apples')
    return mylist

new_list = add_to_list2()
print(new_list)
new_list2 = add_to_list2()
print(new_list2)

['apples']
['apples']

# Sets

In [8]:
myset = set()

In [9]:
type(myset)

set

In [10]:
print(myset)

set()

In [11]:
fruits = {'apple' , 'orange' , 'apple' , 'oramge' , 'pear' , 'banana'}

In [12]:
print(fruits)

{'oramge', 'pear', 'banana', 'orange', 'apple'}

In [13]:
unique = set('gkldasjfkljdaskljfkdlsjkljk')

In [14]:
print(unique)

{'j', 'f', 'd', 'g', 'l', 'k', 'a', 's'}

In [15]:
'orange' in fruits

True

In [17]:
'kiwi' in fruits

False

In [18]:
alpha = set('hellojello')
beta = set('pythonvython')

In [19]:
print(alpha)

{'j', 'h', 'l', 'e', 'o'}

In [20]:
print(beta)

{'n', 'h', 'v', 't', 'p', 'y', 'o'}

In [21]:
alpha - beta

{'e', 'j', 'l'}

In [22]:
alpha | beta

{'e', 'h', 'j', 'l', 'n', 'o', 'p', 't', 'v', 'y'}

In [23]:
alpha & beta

{'h', 'o'}

In [24]:
alpha ^ beta

{'e', 'j', 'l', 'n', 'p', 't', 'v', 'y'}

In [25]:
gama = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [26]:
print(gama, eta , sep ='\n')

{1, 2, 3, 4, 5}
{'python', 2, 3, 'hello'}

In [27]:
gama.add(10)

In [28]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [29]:
gama.add(5)

In [30]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [31]:
gama.difference(eta)

{1, 4, 5, 10}

In [32]:
gama.intersection(eta)

{2, 3}

In [33]:
gama.discard(4)

In [34]:
print(gama)

{1, 2, 3, 5, 10}

In [35]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [36]:
gama.isdisjoint(eta)

False

In [38]:
gama.issubset(eta)

False

In [40]:
gama.pop()

2

# Dictionary

In [44]:
#help(gama)

In [45]:
mydictionary = {'apples':5 , 'orange': 10, 'pear':8}

In [47]:
type(mydictionary)

dict

In [48]:
'apples' in mydictionary

True

In [49]:
'kiwi' in mydictionary

False

In [50]:
mydictionary2 = {'orange': 10, 'pear': 8, 'apples':5}
mydictionary == mydictionary2

True

In [51]:
print(mydictionary.get('apples'))

5

In [52]:
print(mydictionary.get('kiwi'))

None

In [53]:
mydictionary.keys()

dict_keys(['apples', 'orange', 'pear'])

In [54]:
mydictionary.values()

dict_values([5, 10, 8])

In [55]:
mydictionary.items()

dict_items([('apples', 5), ('orange', 10), ('pear', 8)])

In [57]:
mydictionary.popitem()

('pear', 8)

In [58]:
print(mydictionary)

{'apples': 5, 'orange': 10}

In [60]:
#help(mydictionary)

In [61]:
dict([('jack', 4), ('jill', 10), ('hill', 100)])

{'jack': 4, 'jill': 10, 'hill': 100}

In [62]:
print(mydictionary2)

{'orange': 10, 'pear': 8, 'apples': 5}

In [63]:
mydictionary2[0]

KeyError: 0

In [64]:
mydictionary2['apples']

5

In [65]:
mydictionary2['kiwi'] = 1000

In [66]:
print(mydictionary2)

{'orange': 10, 'pear': 8, 'apples': 5, 'kiwi': 1000}

In [68]:
'hello'.split('e')

['h', 'llo']

# Sequences

In [69]:
45 in [1,2,3,4,45,67]

True

In [70]:
5 in range(3, 10)

True

In [71]:
3 in (1,2,3,4,4)

True

In [72]:
5 not in range(1,10)

False

In [73]:
[2,3,4,5] + [5]

[2, 3, 4, 5, 5]

In [74]:
'hello' + 'python'

'hellopython'

In [75]:
range(0,5) + range(5,10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [76]:
(1,2,3) + ('hello',)

(1, 2, 3, 'hello')

In [77]:
[2,3,4,5,6]*2

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

In [78]:
'hello'*2

'hellohello'

In [79]:
range(5)*2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [80]:
(2,3,4)*2

(2, 3, 4, 2, 3, 4)

In [82]:
mylist = [2,3,4,5,6]
mystring = 'hello python'
myrange = range(5)
mytuple = (2,3,4,44)

In [83]:
mylist[3]

5

In [84]:
mytuple[1]

3

In [85]:
mystring[1]

'e'

In [86]:
myrange[2]

2

In [87]:
mylist[1:3]

[3, 4]

In [88]:
mystring[1:2]

'e'

In [89]:
mytuple[1:3]

(3, 4)

In [91]:
range(9)[1:7:2]

range(1, 7, 2)

In [92]:
len(mylist)

5

In [93]:
len(mystring)

12

In [94]:
len(mytuple)

4

In [95]:
len(myrange)

5

In [96]:
min(mylist)

2

In [97]:
min(myrange)

0

In [99]:
min(mytuple)

2

In [100]:
max(mytuple)

44

In [101]:
max(myrange)

4

In [102]:
mylist.index(4)

2

In [103]:
mystring.index('l')

2

In [104]:
myrange.index(3)

3

In [105]:
myrange.count(2)

1

# lambda

In [108]:
# Don't use it like this please.
t = lambda x: x**2

In [109]:
t(2)

4

In [110]:
t = list(map(lambda x: x**2 , [1,2,3,4,5]))
print(t)

[1, 4, 9, 16, 25]

In [111]:
y = list(filter(lambda x:x>0 , [1,-2,-3,4,5,-20]))

In [112]:
print(y)

[1, 4, 5]

In [1]:
def oddOrEven(n):
    return n%2
n = int(input())
oddOrEven(n)

3

False

In [2]:
list(filter(lambda x:x%2 ==0 , [i for i in range(10)]))

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10)] , [i for in range(10, 1, -1)]