In [1]:
mylist = [1,2,3,4,5]

for i in mylist:
    print(i)

1
2
3
4
5

In [ ]:
for i in mylist:
    mylist.append('wow')
print(mylist)

In [3]:
mylist = [1,2,3,4,5,6,7,8]

for i in mylist:
    mylist.remove(i)
    print(mylist)
#print(mylist)

[2, 3, 4, 5, 6, 7, 8]
[2, 4, 5, 6, 7, 8]
[2, 4, 6, 7, 8]
[2, 4, 6, 8]

In [4]:
mylist = [1,2,3,4,5]
for i in mylist[:]:
    mylist.append('wow')
print(mylist)

[1, 2, 3, 4, 5, 'wow', 'wow', 'wow', 'wow', 'wow']

In [5]:
#Don't use this type of mutable ds as default args
def add_to_list(mylist=[]):
    mylist.append('apples')
    return mylist

new_list = add_to_list()
print(new_list)
new_list2 = add_to_list()
print(new_list2)

['apples']
['apples', 'apples']

In [7]:
def add_to_list2(mylist = None):
    if mylist == None:
        mylist = []
    mylist.append('apples')
    return mylist

new_list = add_to_list2()
print(new_list)
new_list2 = add_to_list2()
print(new_list2)

['apples']
['apples']

# Sets

In [8]:
myset = set()

In [9]:
type(myset)

set

In [10]:
print(myset)

set()

In [11]:
fruits = {'apple' , 'orange' , 'apple' , 'oramge' , 'pear' , 'banana'}

In [12]:
print(fruits)

{'oramge', 'pear', 'banana', 'orange', 'apple'}

In [13]:
unique = set('gkldasjfkljdaskljfkdlsjkljk')

In [14]:
print(unique)

{'j', 'f', 'd', 'g', 'l', 'k', 'a', 's'}

In [15]:
'orange' in fruits

True

In [17]:
'kiwi' in fruits

False

In [18]:
alpha = set('hellojello')
beta = set('pythonvython')

In [19]:
print(alpha)

{'j', 'h', 'l', 'e', 'o'}

In [20]:
print(beta)

{'n', 'h', 'v', 't', 'p', 'y', 'o'}

In [21]:
alpha - beta

{'e', 'j', 'l'}

In [22]:
alpha | beta

{'e', 'h', 'j', 'l', 'n', 'o', 'p', 't', 'v', 'y'}

In [23]:
alpha & beta

{'h', 'o'}

In [24]:
alpha ^ beta

{'e', 'j', 'l', 'n', 'p', 't', 'v', 'y'}

In [25]:
gama = {1,2,3,4,5}
eta = {2,3,'hello', 'python'}

In [26]:
print(gama, eta , sep ='\n')

{1, 2, 3, 4, 5}
{'python', 2, 3, 'hello'}

In [27]:
gama.add(10)

In [28]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [29]:
gama.add(5)

In [30]:
print(gama)

{1, 2, 3, 4, 5, 10}

In [31]:
gama.difference(eta)

{1, 4, 5, 10}

In [32]:
gama.intersection(eta)

{2, 3}

In [33]:
gama.discard(4)

In [34]:
print(gama)

{1, 2, 3, 5, 10}

In [35]:
gama.union(eta)

{1, 10, 2, 3, 5, 'hello', 'python'}

In [36]:
gama.isdisjoint(eta)

False

In [38]:
gama.issubset(eta)

False

In [40]:
gama.pop()

2

# Dictionary

In [44]:
#help(gama)

In [45]:
mydictionary = {'apples':5 , 'orange': 10, 'pear':8}

In [47]:
type(mydictionary)

dict

In [48]:
'apples' in mydictionary

True

In [49]:
'kiwi' in mydictionary

False

In [50]:
mydictionary2 = {'orange': 10, 'pear': 8, 'apples':5}
mydictionary == mydictionary2

True

In [51]:
print(mydictionary.get('apples'))

5

In [52]:
print(mydictionary.get('kiwi'))

None

In [53]:
mydictionary.keys()

dict_keys(['apples', 'orange', 'pear'])

In [54]:
mydictionary.values()

dict_values([5, 10, 8])

In [55]:
mydictionary.items()

dict_items([('apples', 5), ('orange', 10), ('pear', 8)])

In [57]:
mydictionary.popitem()

('pear', 8)

In [58]:
print(mydictionary)

{'apples': 5, 'orange': 10}

In [60]:
#help(mydictionary)

In [61]:
dict([('jack', 4), ('jill', 10), ('hill', 100)])

{'jack': 4, 'jill': 10, 'hill': 100}