In [1]:
def f(x):
    return 5

print(f(f(f(10))))

5

In [2]:
def f():
    print('this is a funciotn')
f()

this is a funciotn

In [3]:
type(f)

function

In [4]:
g = f

In [5]:
type(g)

function

In [6]:
g()

this is a funciotn

In [7]:
def funny():
    print('funny fn')
    def funfun():
        print('fun'*5)
    return funfun()

funny_var = funny()
print(funny_var)

funny fn
funfunfunfunfun
None

In [10]:
def another_funny():
    print('another funny funciton fn')
    
    def funfunfun():
        print('fun'*5)
    return funfunfun

funny = another_funny()
#print(funny)
funny()
type(funny)

another funny funciton fn
funfunfunfunfun

function

In [11]:
def another_funny():
    print('another funny function fun')
    def funfunfun():
        print('gun'*5)
    a = 5
    return a

funny = another_funny()
print(funny)

another funny function fun
5

In [12]:
def funny2():
    def fun():
        return 5**3
    return 5*fun() + 6

funny2()

625

In [13]:
def myfunction():
    def funone():
        return 10
    return 7
myten = myfunction()
myten()

TypeError: 'int' object is not callable

In [14]:
def flipkart():
    print('flip'*2)
    
    product = 'colours'
    
    def cart():
        print('your cart has one product,', product)
        
    return cart

mycart = flipkart()
mycart()

flipflip
your cart has one product, colours

In [16]:
def generic_multiplier(x):
    def factor(b):
        return x*b
    return factor
three_times = generic_multiplier(3)
print(three_times(0))
print(three_times(1))
print(three_times(3))

0
3
9

In [17]:
four_times = generic_multiplier(4)
print(four_times(0))
print(four_times(1))
print(four_times(3))

0
4
12

In [18]:
def adder(a):
    def factor(b):
        return a+b
    return factor

add_one = adder(1)
add_five = adder(5)

In [19]:
add_one(40)

41

In [20]:
add_five(6)

11

In [21]:
def ugly():
    print('&'*10 , end = '')

In [22]:
ugly()

&&&&&&&&&&

In [26]:
def prettify(func):
    
    def make_pretty():
        print('*'*12)
        print('*' , end = '')
        func()
        print('*')
        print('*'* 12)
    return make_pretty

In [28]:
pretty = prettify(ugly)
pretty()

************
*&&&&&&&&&&*
************

In [31]:
@prettify
def ugly2():
    print('@'*10 ,end='')

In [32]:
ugly2()

************
*@@@@@@@@@@*
************

## Lists

In [34]:
mylist = []

In [35]:
type(mylist)

list

In [37]:
mylist = [1,2,4,5,6,7]

In [38]:
mylist = [2,3,4,'hello', 9.9]

In [39]:
mylist = [[1,2,3] , [1,2]]

In [40]:
print(mylist)

[[1, 2, 3], [1, 2]]

In [42]:
mylist = [1,2,3,4,5]

In [43]:
mylist[0]

1

In [44]:
len(mylist)

5

In [45]:
mylist[10]

IndexError: list index out of range

In [46]:
mylist + ['hello' , 'pyhton']

[1, 2, 3, 4, 5, 'hello', 'pyhton']

In [47]:
mylist - ['hello' , 'python']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [48]:
mylist*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [49]:
'hello'*2

'hellohello'

In [50]:
mylist + 8

TypeError: can only concatenate list (not "int") to list

In [51]:
another_list = [4, 5]
print(id(another_list))

4464844232

In [53]:
del another_list[1]
print(another_list)
print(id(another_list))

[4]
4464844232

In [54]:
x = 100

In [55]:
del x

In [56]:
print(x)

NameError: name 'x' is not defined

In [57]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4