# Tuples

In [1]:
#Q1
t = 3,4,'hello',4.5
print(t)

(3, 4, 'hello', 4.5)

In [2]:
#Q2
a,b,c,d = t
print(a,b,c,d)

3 4 hello 4.5

In [5]:
#Q3
print(t)
x = 5
t = t+(x,)
print(t)

(3, 4, 'hello', 4.5)
(3, 4, 'hello', 4.5, 5)

In [9]:
#Q4
def tuple_to_str(t):
    mystr = ''
    for i in t:
        mystr+=str(i)
    return mystr

str(t)
tuple_to_str(t)

'34hello4.55'

In [10]:
#Q5
def find_num_of_repeated(t):
    return len(t) - len(set(t))

In [11]:
#Q6
def if_exists(t, n):
    return n in t

In [13]:
#Q7
def list_to_tuple(newlist):
    t = ()
    for i in newlist:
        t+=(i,)
    return t
list(t)
list_to_tuple([2,3,4,4])

(2, 3, 4, 4)

In [14]:
#Q8
def remove_tuple(newtuple, n):
    newlist = list(newtuple)
    newlist.remove(n)
    return tuple(newlist)
remove_tuple((2,3,4,5,6) , 4)

(2, 3, 5, 6)

In [16]:
#Q9
def find_index(newtuple, n):
    return newtuple.index(n)
find_index((2,3,4,5,6), 3)

1

In [18]:
#Q10
def reverse_tuple(newtuple):
    return newtuple[::-1]
reverse_tuple((2,3,4,5))

(5, 4, 3, 2)